#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-areas:
    "title"
    "body";
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2;
}

#content {
  grid-area: body;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "inputs resume";
  column-gap: 50px;
}

#resumeTitle {
  grid-area: title;
  color: transparent;
  margin: 0px;
  font-size: 0.2rem;
}

#userInputs {
  grid-area: inputs;
  margin-right: 10px;
}

#resumeDisplay {
  position: sticky;
  top: 20px;
  grid-area: resume;
  box-shadow:
    0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.25);
  background-color: white;
  /* width: 816px; */
  width: 8.5in;
  height: 11in;
  /* height: 1056px; */
  display: grid;
  grid-template-rows: 150px 105px 105px 591px 105px;
  grid-template-areas:
    "personal"
    "summary"
    "skills"
    "experience"
    "school";
  padding: 96px;
  row-gap: 16px;
}
