#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-areas:
    "title"
    "body";
  font-family: sans-serif;
}

#content {
  grid-area: body;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "inputs resume";
  column-gap: 50px;
}

#resumeTitle {
  grid-area: title;
}

#userInputs {
  grid-area: inputs;
  margin-right: 10px;
}

#resumeDisplay {
  grid-area: resume;
  box-shadow:
    0 13px 27px -5px rgba(50, 50, 93, 0.1),
    0 8px 16px -8px rgba(0, 0, 0, 0.25);
  background-color: white;
  width: 21.59cm;
  height: 27.94cm;
}
