.details-title {
  color: black;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

#nameField,
#emailField,
#phoneField,
#addressField {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

input {
  width: 98%;
  height: 1.7rem;
  border-radius: 10px;
  border: 2px solid transparent;
  background-color: #f3f4f6;
}
