#personalInput,
#summaryInput,
#skillsInput,
#experienceInput,
#educationInput {
  background-color: white;
  border-radius: 12px;
  padding: 18px;
  margin-bottom: 10px;
  width: 400px;
  height: auto;
}
